.footer{
  background-color: $color-dark;
  color: $color-light;
  padding-top: $gap *3;
  &-item{

    &__list{
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 10px;
    }
    &__link a{
      color: #777777;
    }
  }
  &-bottom{
    display: block;
    text-align: center;
    font-weight: 700;
    color: $color-light;
    margin: 20px 0;
  }
  
}

