.footer{
  background-color: $color-dark;
  color: $color-light;
  padding-top: $gap *3;
  &-item{

    &__list{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    &__link a{
      color: $color-gray;
    }
  }
  
}

