.main {
  @extend %margin-bottom-lg;

  .site-search {
    margin-bottom: $gap * 3;
  }

  .user-login {
    margin-bottom: $gap * 4;
  }
}

.new-films,
.top-week {
  position: relative;
  overflow: hidden;
  &-row {
    margin-right: -$gap / 2;
    margin-left: -$gap / 2;
    margin-bottom: -$gap;
  }
  &-item {
    padding-left: $gap / 2;
    padding-right: $gap / 2;
    margin-bottom: $gap;

    &_image {
      width: 100%;
    }

    &_thumbnail {
      transition: background-color 0.5s;
    }
    &:hover .thumbnail {
      background-color: $color-accent;
      border-color: $color-accent;
      color: $color-light;
    }
    &:hover h3 {
      color: $color-light;
    }

    &_thumbnail {
      margin-bottom: 0;
    }
    &_title {
      @include text-shortener;
      font-size: 1rem;
      font-weight: 600;
      text-align: center;

    }
    
  }
  h3{
    margin: 0;
    padding: 0;
    transition: color 0.2s;
  }
}

.film-news{
  position: relative;
  overflow: hidden;
}